<button class="btn btn-success" (click)="openModal('addPredmetStraniModal')">Dodaj novi predmet</button>
<table class="table">
    <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Naziv</th>
          <th scope="col">Program</th>
          <th scope="col">ESPB</th>
          <th scope="col">Izmeni</th>
          <th scope="col">Obriši</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of adminService.predStrani; let i = index;">
            <td>{{p.predmetId}}</td>
            <td>{{p.naziv}}</td>
            <td>{{p.program.naziv}}</td>
            <td>{{p.espb}}</td>
            <td><button class="btn btn-primary" (click)="openWithParamPredmetStr('editPredmetStraniModal', p)">Izmeni</button></td>
            <td><button class="btn btn-danger" (click)="deletePredmetStr(i)">Obriši</button></td>
        </tr>
      </tbody>
</table>

<jw-modal id="addPredmetStraniModal">
  <h1>Dodaj novi predmet</h1>
  <form [formGroup]="predmetStraniForm" (ngSubmit)="addPredmetStr(predmetStraniForm.value)">
    <p>Predmet ID: <input type="text" id="predmetId" formControlName="predmetId"/></p>
    <p>Naziv: <input type="text" id="naziv" formControlName="naziv"/></p>
    <p>Studijski program: 
      <select id="program" formControlName="program">
        <option *ngFor="let p of adminService.progStrani" [ngValue]="p">{{p.naziv}}</option>
      </select>
    </p>
    <p>ESPB: <input type="text" id="espb" formControlName="espb"/></p>
    <button class="btn btn-primary" type="submit">Dodaj</button>&nbsp;&nbsp;&nbsp;
  </form>
  <button class="btn btn-danger" (click)="closeModal('addPredmetStraniModal')">Zatvori</button>
</jw-modal>

<jw-modal id="editPredmetStraniModal">
  <h1>Izmeni predmet</h1>
  <form [formGroup]="editPredmetStraniForm" (ngSubmit)="editPredmetStr(editPredmetStraniForm.value)">
    <p>Predmet ID: <input type="text" id="predmetId" formControlName="predmetId"/></p>
    <p>Naziv: <input type="text" id="naziv" formControlName="naziv"/></p>
    <p>Studijski program: 
      <select id="program" formControlName="program" disabled>
        <option *ngFor="let p of adminService.progStrani" [ngValue]="p" [selected]="p.naziv==modalService.paramPredmetStr.program.naziv">{{p.naziv}}</option>
      </select>
    </p>
    <p>ESPB: <input type="text" id="espb" formControlName="espb"/></p>
    <button class="btn btn-primary" type="submit">Izmeni</button>&nbsp;&nbsp;&nbsp;
  </form>
  <button class="btn btn-danger" (click)="closeModal('editPredmetStraniModal')">Zatvori</button>
</jw-modal>