.main{
    position:absolute;
    width:50%;
    height:30%;
    top:0;
      bottom: 0;
      left: 0;
      right: 0;	
      margin: auto;
    padding:10px;
}
.main > div{
    float:right;
    margin:10px;
}
.d1{
    width:45%;
    height:92%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 25px;
}

.d1:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

h1 {
    color: white
}