<button class="btn btn-success" (click)="openModal('addKorisnikModal')">Dodaj novog korisnika</button>
<table class="table">
    <thead>
        <tr>
          <th scope="col">Korisničko ime</th>
          <th scope="col">Ime</th>
          <th scope="col">Prezime</th>
          <th scope="col">JMBG</th>
          <th scope="col">Datum rođenja</th>
          <th scope="col">Uloga</th>
          <th scope="col">Izmeni</th>
          <th scope="col">Obriši</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let k of adminService.korisnici; let i = index;">
            <td>{{k.username}}</td>
            <td>{{k.ime}}</td>
            <td>{{k.prezime}}</td>
            <td>{{k.jmbg}}</td>
            <td>{{k.datumrodjenja}}</td>
            <td>{{k.uloga}}</td>
            <td><button *ngIf="k.uloga != 'ADMIN'" class="btn btn-primary" (click)="openWithParamKorisnik('editKorisnikModal', k)">Izmeni</button></td>
            <td><button *ngIf="k.uloga != 'ADMIN'" class="btn btn-danger" (click)="deleteKorisnik(i)">Obriši</button></td>
        </tr>
      </tbody>
</table>

<jw-modal id="addKorisnikModal">
  <h1>Dodaj novog korisnika</h1>
  <form [formGroup]="korisnikForm" (ngSubmit)="addKorisnik(korisnikForm.value)">
    <p>Koriničko ime: <input type="text" id="username" formControlName="username"/></p>
    <p>Lozinka: <input type="password" id="password" formControlName="password"/></p>
    <p>Potvrdi lozinku: <input type="password" id="passwordConf" formControlName="passwordConf"/></p>
    <p>Ime: <input type="text" id="ime" formControlName="ime"/></p>
    <p>Prezime: <input type="text" id="prezime" formControlName="prezime"/></p>
    <p>JMBG: <input type="text" id="jmbg" formControlName="jmbg"/></p>
    <p>Datum rođenja:  <input id="datumRodjenja" formControlName="datumRodjenja" [matDatepicker]="basicDatepicker">
      <mat-datepicker-toggle [for]="basicDatepicker"></mat-datepicker-toggle>
      <mat-datepicker #basicDatepicker></mat-datepicker></p>
    <p>Uloga: 
      <select id="uloga" formControlName="uloga">
        <option value="SEF">ŠEF</option>
        <option value="KOORDINATOR">KOORDINATOR</option>
      </select>
    </p>
    <button class="btn btn-primary" type="submit">Dodaj</button>&nbsp;&nbsp;&nbsp;
  </form>
  <button class="btn btn-danger" (click)="closeModal('addKorisnikModal')">Zatvori</button>
</jw-modal>

<jw-modal id="editKorisnikModal">
  <h1>Izmeni korisnika</h1>
  <form [formGroup]="editKorisnikForm" (ngSubmit)="editKorisnik(editKorisnikForm.value, modalService.paramKorisnik)">
    <p>Koriničko ime: <input type="text" id="username" formControlName="username" readonly/></p>
    <p>Nova lozinka: <input type="password" id="password" formControlName="password"/></p>
    <p>Potvrdi novu lozinku: <input type="password" id="passwordConf" formControlName="passwordConf"/></p>
    <p>Ime: <input type="text" id="ime" formControlName="ime"/></p>
    <p>Prezime: <input type="text" id="prezime" formControlName="prezime"/></p>
    <p>JMBG: <input type="text" id="jmbg" formControlName="jmbg"/></p>
    <p>Datum rođenja:  <input id="datumRodjenja" formControlName="datumRodjenja" [matDatepicker]="basicDatepicker1"
      [value]="modalService.paramKorisnik.datumrodjenja">
      <mat-datepicker-toggle [for]="basicDatepicker1"></mat-datepicker-toggle>
      <mat-datepicker #basicDatepicker1></mat-datepicker></p>
    <p>Uloga: 
      <select id="uloga" formControlName="uloga">
        <option value="SEF">SEF</option>
        <option value="KOORDINATOR">KOORDINATOR</option>
      </select>
    </p>
    <button class="btn btn-primary" type="submit">Izmeni</button>&nbsp;&nbsp;&nbsp;
  </form>
  <button class="btn btn-danger" (click)="closeModal('editKorisnikModal')">Zatvori</button>
</jw-modal>
