<p>Broj indeksa:    {{studentService.student.brindeksa}}</p>
<p>Ime:    {{studentService.student.ime}}</p>
<p>Prezime:    {{studentService.student.prezime}}</p>
<p>JMBG:    {{studentService.student.jmbg}}</p>
<p>Datum rodjenja:    {{studentService.student.datumrodjenja}}</p>
<p>Email:    {{studentService.student.email}}</p>
<p>Studije:    {{studentService.student.studije.naziv}}</p>
<p>Departman:    {{studentService.student.studije.departman.departmanId}}</p>

<button class="btn btn-primary" (click)="initFormular()">
    Napravi formular
  </button>
