<div class="content">
  <br>
  <h1><b>Podaci o studentu</b></h1>
  <br>
  <br>
  <br>
  <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Broj indeksa:    {{studentService.student.brindeksa}}</h3>
  <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ime:    {{studentService.student.ime}}</h3>
  <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Prezime:    {{studentService.student.prezime}}</h3>
  <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;JMBG:    {{studentService.student.jmbg}}</h3>
  <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Datum rodjenja:    {{studentService.student.datumrodjenja}}</h3>
  <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Email:    {{studentService.student.email}}</h3>
  <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Studije:    {{studentService.student.studije.naziv}}</h3>
  <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Departman:    {{studentService.student.studije.departman.departmanId}}</h3>
  <br><br>
  <button class="btn btn-primary" (click)="initFormular()">
    Napravi formular
  </button>
  <br><br>
</div>
