h3 {
    color: white
}

input {
    width: 60%
}

div {
    margin-top:auto;
    margin-bottom:auto;
    text-align:center;
}

button {
    display: inline;
    float: none;
}

input {
    margin: 0 auto;
}