<div class="content">
  <br>
  <h2><b>Podaci o nastavnicima</b></h2>
  <br><br>
  &nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-success" (click)="openModal('addNastavnikModal')">Dodaj novog nastavnika</button>
  <table class="table table-dark">
      <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Ime</th>
            <th scope="col">Prezime</th>
            <th scope="col">JMBG</th>
            <th scope="col">Datum rođenja</th>
            <th scope="col">Email</th>
            <th scope="col">Izmeni</th>
            <th scope="col">Obriši</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let n of adminService.nastavnici; let i = index;">
              <td>{{n.nastavnikid}}</td>
              <td>{{n.ime}}</td>
              <td>{{n.prezime}}</td>
              <td>{{n.jmbg}}</td>
              <td>{{n.datumrodjenja}}</td>
              <td>{{n.email}}</td>
              <td><button class="btn btn-primary" (click)="openWithParamNastavnik('editNastavnikModal', n)">Izmeni</button></td>
              <td><button class="btn btn-danger" (click)="deleteNastavnik(i)">Obriši</button></td>
          </tr>
        </tbody>
  </table>
  <br>
</div>

<jw-modal id="addNastavnikModal">
  <h1>Dodaj novog nastavnika</h1><br><hr><br><br>
  <form [formGroup]="nastavnikForm" (ngSubmit)="addNastavnik(nastavnikForm.value)">
    <p>Nastavnik ID: <input type="text" id="nastavnikId" formControlName="nastavnikId"/></p>
    <p>Ime: <input type="text" id="ime" formControlName="ime"/></p>
    <p>Prezime: <input type="text" id="prezime" formControlName="prezime"/></p>
    <p>JMBG: <input type="text" id="jmbg" formControlName="jmbg"/></p>
    <p>Datum rođenja:  <input id="datumRodjenja" formControlName="datumRodjenja" [matDatepicker]="basicDatepicker">
      <mat-datepicker-toggle [for]="basicDatepicker"></mat-datepicker-toggle>
      <mat-datepicker #basicDatepicker></mat-datepicker></p>
    <p>Email: <input type="text" id="email" formControlName="email"/></p>
    <br>
    <button class="btn btn-primary" type="submit">Dodaj</button>
  </form>
  <br>
  <button class="btn btn-danger" (click)="closeModal('addNastavnikModal')">Zatvori</button>
</jw-modal>

<jw-modal id="editNastavnikModal">
  <h1>Izmeni nastavnika</h1><br><hr><br><br>
  <form [formGroup]="editNastavnikForm" (ngSubmit)="editNastavnik(editNastavnikForm.value, modalService.paramNastavnik)">
    <p>Nastavnik ID: <input type="text" id="nastavnikId" formControlName="nastavnikId" readonly/></p>
    <p>Ime: <input type="text" id="ime" formControlName="ime"/></p>
    <p>Prezime: <input type="text" id="prezime" formControlName="prezime"/></p>
    <p>JMBG: <input type="text" id="jmbg" formControlName="jmbg"/></p>
    <p>Datum rođenja:  <input id="datumRodjenja" formControlName="datumRodjenja" [matDatepicker]="basicDatepicker1"
      [value]="modalService.paramNastavnik.datumrodjenja">
      <mat-datepicker-toggle [for]="basicDatepicker1"></mat-datepicker-toggle>
      <mat-datepicker #basicDatepicker1></mat-datepicker></p>
    <p>Email: <input type="text" id="email" formControlName="email"/></p>
    <br>
    <button class="btn btn-primary" type="submit">Izmeni</button>
  </form>
  <br>
  <button class="btn btn-danger" (click)="closeModal('editNastavnikModal')">Zatvori</button>
</jw-modal>
