<div class="content">
  <br>
  <h2><b>Podaci o departmanima</b></h2>
  <br><br>
  &nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-success" (click)="openModal('addDepartmanModal')">Dodaj novi departman</button>
  <table class="table table-dark">
      <thead>
          <tr>
            <th scope="col">Naziv</th>
            <th scope="col">Koordinator</th>
            <th scope="col">Izmeni</th>
            <th scope="col">Obriši</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let d of adminService.departmani; let i = index;">
              <td>{{d.departmanId}}</td>
              <td>{{d.koordinator.username}}</td>
              <td><button class="btn btn-primary" (click)="openWithParamDepartman('editDepartmanModal', d)">Izmeni</button></td>
              <td><button class="btn btn-danger" (click)="deleteDepartman(i)">Obriši</button></td>
          </tr>
        </tbody>
  </table>
  <br>
</div>


<jw-modal id="addDepartmanModal">
  <h1>Dodaj novi departman</h1><br><hr><br><br>
  <form [formGroup]="departmanForm" (ngSubmit)="addDepartman(departmanForm.value)">
    <p>Naziv: <input type="text" id="naziv" formControlName="naziv"/></p>
    <p>Koordinator: 
      <select class="form-control" id="selectedKoord" formControlName="selectedKoord">
        <ng-container *ngFor="let k of adminService.korisnici">
          <option *ngIf="k.uloga === 'KOORDINATOR'" [ngValue]="k">{{k.username}}</option>
        </ng-container>
      </select>
    </p>
    <br>
    <button class="btn btn-primary" type="submit">Dodaj</button>
  </form>
  <br>
  <button class="btn btn-danger" (click)="closeModal('addDepartmanModal')">Zatvori</button>
</jw-modal> 

<jw-modal id="editDepartmanModal">
  <h1>Izmeni departman</h1><br><hr><br><br>
  <form [formGroup]="editDepartmanForm" (ngSubmit)="editDepartman(editDepartmanForm.value, modalService.paramDepartman)">
    <p>Naziv: <input type="text" id="naziv" formControlName="naziv" readonly/></p>
    <p>Koordinator: 
      <select class="form-control" id="selectedKoord" formControlName="selectedKoord">
        <ng-container *ngFor="let k of adminService.korisnici">
          <option *ngIf="k.uloga === 'KOORDINATOR'" [ngValue]="k" [selected]="k.username==modalService.paramDepartman.koordinator.username">{{k.username}}</option>
        </ng-container>
      </select>
    </p>
    <br>
    <button class="btn btn-primary" type="submit">Izmeni</button>
  </form>
  <br>
  <button class="btn btn-danger" (click)="closeModal('editDepartmanModal')">Zatvori</button>
</jw-modal>