<div class="content">
  <br>
  <h2><b>Podaci o domaćim programima</b></h2>
  <br><br>
  &nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-success" (click)="openModal('addProgramDomaciModal')">Dodaj novi program</button>
  <table class="table table-dark">
      <thead>
          <tr>
            <th scope="col">Naziv</th>
            <th scope="col">Departman</th>
            <th scope="col">Šef</th>
            <th scope="col">Izmeni</th>
            <th scope="col">Obriši</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of adminService.progDomaci; let i = index;">
              <td>{{p.naziv}}</td>
              <td>{{p.departman.departmanId}}</td>
              <td>{{p.sef.username}}</td>
              <td><button class="btn btn-primary" (click)="openWithParamProgramDom('editProgramDomaciModal', p)">Izmeni</button></td>
              <td><button class="btn btn-danger" (click)="deleteProgramDom(i)">Obriši</button></td>
          </tr>
        </tbody>
  </table>
  <br>
</div>

<jw-modal id="addProgramDomaciModal">
  <h1>Dodaj novi program</h1><br><hr><br><br>
  <form [formGroup]="programDomaciForm" (ngSubmit)="addProgramDom(programDomaciForm.value)">
    <p>Naziv: <input type="text" id="naziv" formControlName="naziv"/></p>
    <p>Departman: 
      <select class="form-control" id="departman" formControlName="departman">
        <option *ngFor="let d of adminService.departmani" [ngValue]="d">{{d.departmanId}}</option>
      </select>
    </p>
    <p>Šef: 
      <select class="form-control" id="sef" formControlName="sef">
        <ng-container *ngFor="let k of adminService.korisnici">
          <option *ngIf="k.uloga === 'SEF'" [ngValue]="k">{{k.username}}</option>
        </ng-container>
      </select>
    </p>
    <br>
    <button class="btn btn-primary" type="submit">Dodaj</button>
  </form>
  <br>
  <button class="btn btn-danger" (click)="closeModal('addProgramDomaciModal')">Zatvori</button>
</jw-modal>

<jw-modal id="editProgramDomaciModal">
  <h1>Izmeni program</h1><br><hr><br><br>
  <form [formGroup]="editProgramDomaciForm" (ngSubmit)="editProgramDom(editProgramDomaciForm.value)">
    <p>Naziv: <input type="text" id="naziv" formControlName="naziv" readonly/></p>
    <p>Departman: 
      <select class="form-control" id="departman" formControlName="departman">
        <option *ngFor="let d of adminService.departmani" [ngValue]="d" [selected]="d.departmanId==modalService.paramProgramDom.departman.departmanId">{{d.departmanId}}</option>
      </select>
    </p>
    <p>Šef: 
      <select class="form-control" id="sef" formControlName="sef">
        <ng-container *ngFor="let k of adminService.korisnici">
          <option *ngIf="k.uloga === 'SEF'" [ngValue]="k" [selected]="k.username==modalService.paramProgramDom.sef.username">{{k.username}}</option>
        </ng-container>
      </select>
    </p>
    <br>
    <button class="btn btn-primary" type="submit">Izmeni</button>
  </form>
  <br>
  <button class="btn btn-danger" (click)="closeModal('editProgramDomaciModal')">Zatvori</button>
</jw-modal>
