<button class="btn btn-success" (click)="openModal('addProgramDomaciModal')">Dodaj novi program</button>
<table class="table">
    <thead>
        <tr>
          <th scope="col">Naziv</th>
          <th scope="col">Departman</th>
          <th scope="col">Šef</th>
          <th scope="col">Izmeni</th>
          <th scope="col">Obriši</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of adminService.progDomaci; let i = index;">
            <td>{{p.naziv}}</td>
            <td>{{p.departman.departmanId}}</td>
            <td>{{p.sef.username}}</td>
            <td><button class="btn btn-primary" (click)="editProgramDom(i)">Izmeni</button></td>
            <td><button class="btn btn-danger" (click)="deleteProgramDom(i)">Obriši</button></td>
        </tr>
      </tbody>
</table>

<jw-modal id="addProgramDomaciModal">
  <h1>Dodaj novi program</h1>
  <form [formGroup]="programDomaciForm" (ngSubmit)="addProgramDom(programDomaciForm.value)">
    <p>Naziv: <input type="text" id="naziv" formControlName="naziv"/></p>
    <p>Departman: 
      <select id="departman" formControlName="departman">
        <option *ngFor="let d of adminService.departmani" [ngValue]="d">{{d.departmanId}}</option>
      </select>
    </p>
    <p>Šef: 
      <select id="sef" formControlName="sef">
        <ng-container *ngFor="let k of adminService.korisnici">
          <option *ngIf="k.uloga === 'SEF'" [ngValue]="k">{{k.username}}</option>
        </ng-container>
      </select>
    </p>
    <button class="btn btn-primary" type="submit">Dodaj</button>&nbsp;&nbsp;&nbsp;
  </form>
  <button class="btn btn-danger" (click)="closeModal('addProgramDomaciModal')">Zatvori</button>
</jw-modal>
