<button class="btn btn-success" (click)="newFormular()">Dodaj novi formular</button>
<table class="table">
    <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Student</th>
          <th scope="col">Strani program</th>
          <th scope="col">Odobrenje šefa</th>
          <th scope="col">Odobrenje koordinatora</th>
          <th scope="col">Datum i vreme</th>
          <th scope="col">Izmeni</th>
          <th scope="col">Obriši</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let f of adminService.formulari; let i = index;">
            <td>{{f.idformular}}</td>
            <td>{{f.student.brindeksa}}</td>
            <td>{{f.programStrani.naziv}}</td>
            <td *ngIf="f.odobrenjeSef=='Y'">ODOBRENO</td>
            <td *ngIf="f.odobrenjeSef=='N'">ODBIJENO</td>
            <td *ngIf="f.odobrenjeSef==null">NEMA ODGOVORA</td>
            <td *ngIf="f.odobrenjeKoord=='Y'">ODOBRENO</td>
            <td *ngIf="f.odobrenjeKoord=='N'">ODBIJENO</td>
            <td *ngIf="f.odobrenjeKoord==null">NEMA ODGOVORA</td>
            <td>{{f.datum}}</td>
            <td><button class="btn btn-primary" (click)="editFormular(i)">Izmeni</button></td>
            <td><button class="btn btn-danger" (click)="deleteFormular(i)">Obriši</button></td>
        </tr>
      </tbody>
</table>
