<p>Formular ID: {{studentService.formular.idformular}}</p>
<p>Program: {{studentService.formular.programStrani.naziv}}</p>
<p>Datum: {{studentService.formular.datum}}</p>
<p *ngIf="studentService.formular.odobrenjeSef=='Y'">Odobrenje šefa: ODOBRENO</p>
<p *ngIf="studentService.formular.odobrenjeSef=='N'">Odobrenje šefa: ODBIJENO</p>
<p *ngIf="studentService.formular.odobrenjeSef==null">Odobrenje šefa: NEMA ODGOVORA</p>
<p *ngIf="studentService.formular.odobrenjeKoord=='Y'">Odobrenje koordinatora: ODOBRENO</p>
<p *ngIf="studentService.formular.odobrenjeKoord=='N'">Odobrenje koordinatora: ODBIJENO</p>
<p *ngIf="studentService.formular.odobrenjeKoord==null">Odobrenje koordinatora: NEMA ODGOVORA</p>
<p>Zamene:</p> 

<table class="table">
    <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Domaći predmet</th>
          <th scope="col">ESPB</th>
          <th scope="col">Strani predmet</th>
          <th scope="col">ESPB</th>
          <th scope="col">Potvrda</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let z of studentService.formular.zamene">
            <td>{{z.idzamena}}</td>
            <td>{{z.predmetDomaci.naziv}}</td>
            <td>{{z.predmetDomaci.espb}}</td>
            <td>{{z.predmetStrani.naziv}}</td>
            <td>{{z.predmetStrani.espb}}</td>
            <td>{{z.odobreno}}</td>
        </tr>
      </tbody>
</table>

<button class="btn btn-danger" (click)="cancelFormular()">Poništi formular</button>