<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#glavna">Glavna</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#formulari">Formulari</a>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane fade show active" id="glavna">

        <h3>Podaci o korisniku</h3>
        <br>
        <p>Korisničko ime:    {{userService.user.username}}</p>
        <p>Ime:    {{userService.user.ime}}</p>
        <p>Prezime:    {{userService.user.prezime}}</p>
        <p>Uloga:    {{userService.user.uloga}}</p>
        <p>Datum rodjenja:    {{userService.user.datumrodjenja}}</p>
        <p>JMBG:    {{userService.user.jmbg}}</p>

    </div>
    <div class="tab-pane fade" id="formulari">
        <app-user-formular></app-user-formular>
    </div>
  </div>  



