<ul class="nav nav-tabs nav-fill">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#glavna">Glavna</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#departmani">Departmani</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#korisnici">Korisnici</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#nastavnici">Nastavnici</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#studenti">Studenti</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#predDomaci">Predmeti domaći</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#predStrani">Predmeti strani</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#progDomaci">Programi domaći</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#progStrani">Programi strani</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#formulari">Formulari</a>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane fade show active" id="glavna">
        <br>
        <h1><b>Podaci o administratoru</b></h1>
        <br>
        <br>
        <br>
        <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Korisničko ime:    {{adminService.user.username}}</h3>
        <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ime:    {{adminService.user.ime}}</h3>
        <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Prezime:    {{adminService.user.prezime}}</h3>
        <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Uloga:    {{adminService.user.uloga}}</h3>
        <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Datum rodjenja:    {{adminService.user.datumrodjenja}}</h3>
        <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;JMBG:    {{adminService.user.jmbg}}</h3>
        <br><br>
    </div>
    <div class="tab-pane fade" id="departmani">
        <app-admin-departmani></app-admin-departmani>
    </div>
    <div class="tab-pane fade" id="korisnici">
        <app-admin-korisnici></app-admin-korisnici>
    </div>
    <div class="tab-pane fade" id="nastavnici">
        <app-admin-nastavnici></app-admin-nastavnici>
    </div>
    <div class="tab-pane fade" id="studenti">
        <app-admin-studenti></app-admin-studenti>
    </div>
    <div class="tab-pane fade" id="predDomaci">
        <app-admin-predmeti-domaci></app-admin-predmeti-domaci>
    </div>
    <div class="tab-pane fade" id="predStrani">
        <app-admin-predmeti-strani></app-admin-predmeti-strani>
    </div>
    <div class="tab-pane fade" id="progDomaci">
        <app-admin-programi-domaci></app-admin-programi-domaci>
    </div>
    <div class="tab-pane fade" id="progStrani">
        <app-admin-programi-strani></app-admin-programi-strani>
    </div>
    <div class="tab-pane fade" id="formulari">
        <app-admin-formulari></app-admin-formulari>
    </div>
  </div>  