h1, h3 {
    color: white
}

h1 {
    text-align: center;
}

.content {
    background: rgba(0, 0, 0, 0.6);
    border: 5px solid #e74c3c;
}

.wrapper {
    margin: 0 auto;
    width: 656px;
    text-align: center;
}
