<div class="content">
    <br>
    <h5><b>Novi formular</b></h5>
    <br><br>
    <p>&nbsp;&nbsp;&nbsp;Formular ID: {{studentService.formularId}}</p>
    <p>&nbsp;&nbsp;&nbsp;Program: {{studentService.izabraniProgram.naziv}}</p>

    <p>&nbsp;&nbsp;&nbsp;<b>Zamene:</b></p> 

    &nbsp;&nbsp;&nbsp;<button class="btn btn-success" (click)="addZamena()">Dodaj zamenu</button>
    <table class="table table-dark">
        <thead>
            <tr>
            <th scope="col">ID</th>
            <th scope="col">Domaći predmet</th>
            <th scope="col">Strani predmet</th>
            <th scope="col">Obriši</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let zamena of zamene; let i = index;">
                <td [(ngModel)]="zamena.idzamena" ngDefaultControl>{{zamena.idzamena}}</td>
                <td>
                    <select class="form-control" [(ngModel)]="zamena.predmetDomaci" (change)="changeDomaci(zamena.predmetDomaci, i)">
                        <option *ngFor="let p of studentService.predmetiDomaci" value="{{p.naziv}}" [selected]="p.naziv==zamena.predmetDomaci.naziv">{{p.naziv}} - {{p.espb}} ESPB</option>
                    </select>
                </td>
                <td>
                    <select class="form-control" [(ngModel)]="zamena.predmetStrani"(change)="changeStrani(zamena.predmetStrani, i)">
                        <option *ngFor="let p of studentService.predmetiStrani" value="{{p.naziv}}" [selected]="p.naziv==zamena.predmetStrani.naziv">{{p.naziv}} - {{p.espb}} ESPB</option>
                    </select>
                </td>
                <td><button class="btn btn-danger" (click)="deleteZamena(i)">Obriši zamenu</button></td>
            </tr>
        </tbody>
    </table>
    <br>
    <div style="margin: 0 auto; width: 656px;text-align:center;">
        <button class="btn btn-primary" (click)="confirmFormular()">Prosledi formular</button>&nbsp;&nbsp;&nbsp;
        <button class="btn btn-danger" (click)="cancelFormular()">Poništi formular</button>
    </div>
    <br>
</div>